<div class="modal-overlay" id="modal-basic">
  <div class="modal">
    <button class="modal-close-btn" type="button" data-modal-close>
      <svg class="modal-close-icon" width="32" height="32">
        <use href="/img/svgsprit.svg#icon-close"></use>
      </svg>
    </button>
    <h3 class="modal-title">Join Now</h3>
    <h3 class="modal-item-title">One Session</h3>
    <p class="modal-item-price">$10</p>
    <form>
      <div class="input-group">
        <label for="username-basic" class="modal-label">Your Name</label>
        <div class="input-container">
          <input
            type="text"
            name="Name"
            id="username-basic"
            class="modal-input"
            placeholder="Enter your name"
          />
        </div>
      </div>
      <div class="input-group-row">
        <div class="input-group">
          <label for="email-basic" class="modal-label">Email</label>
          <div class="input-container">
            <input
              type="email"
              name="Email"
              id="email-basic"
              class="modal-input"
              placeholder="Enter your email"
            />
          </div>
        </div>
        <div class="input-group">
          <label for="phone-basic" class="modal-label">Phone number</label>
          <div class="input-container">
            <input
              type="tel"
              name="Phone"
              id="phone-basic"
              class="modal-input"
              placeholder="Enter your phone number"
            />
          </div>
        </div>
      </div>
      <button type="submit" class="modal-submit-btn">Go to checkout</button>
    </form>
  </div>
</div>
