<footer class="footer" id="contacts">
  <div class="container box-footer">
    <div class="logo-subscribe">
      <a href="/index.html" class="logo-footer"
        ><svg class="icon-logo" width="83" height="23">
          <use href="../img/svgsprite.svg#icon-logo"></use>
        </svg>
      </a>
      <p class="subscribe-text-footer">
        Subscribe to our newsletter for the latest updates on our yoga courses
        and events.
      </p>
      <form>
        <div class="subscribe-field">
          <label class="label-field-footer">
            <input
              class="text-field-footer"
              type="email"
              name="email-footer"
              placeholder="Placeholder"
              pattern="^([a-zA-Z0-9_.-]{1,})@([a-zA-Z0-9_.-]{1,})\.([a-zA-Z]{2,8})$"
              title="example@mail.com"
              required
            />
          </label>
          <button type="submit" class="join-btn">Join</button>
        </div>
      </form>
      <p class="privacy-policy-footer">
        By subscribing, you consent to our Privacy Policy and agree to receive
        updates.
      </p>
    </div>
    <div class="box-link-connect">
      <div class="quick-links">
        <p class="text-link-connect">Quick Links</p>
        <ul class="link-footer">
          <li>
            <div class="box-link-footer"><a href="#hero">Yoga Classes</a></div>
          </li>
          <li>
            <div class="box-link-footer"><a href="#team">Team</a></div>
          </li>
          <li>
            <div class="box-link-footer"><a href="#">Pricing</a></div>
          </li>
          <li>
            <div class="box-link-footer"><a href="#contacts">Contacts</a></div>
          </li>
        </ul>
      </div>
      <div class="social-connect">
        <p class="text-link-connect">Connect With Us</p>
        <ul class="icon-footer">
          <li>
            <div class="box-icon-footer">
              <a
                href="https://www.facebook.com/"
                target="_blank"
                class="icon-link"
              >
                <svg width="24" height="24">
                  <use href="/img/svgsprite.svg#icon-facebook"></use>
                </svg>
                <span class="link-text">Facebook</span>
              </a>
            </div>
          </li>
          <li>
            <div class="box-icon-footer">
              <a
                href="https://www.instagram.com/"
                target="_blank"
                class="icon-link"
              >
                <svg width="24" height="24">
                  <use href="/img/svgsprite.svg#icon-instagram"></use>
                </svg>
                <span class="link-text">Instagram</span>
              </a>
            </div>
          </li>
          <li>
            <div class="box-icon-footer">
              <a
                href="https://www.linkedin.com/"
                target="_blank"
                class="icon-link"
              >
                <svg width="24" height="24">
                  <use href="/img/svgsprite.svg#icon-linkedin"></use>
                </svg>
                <span class="link-text">LinkedIn</span>
              </a>
            </div>
          </li>
          <li>
            <div class="box-icon-footer">
              <a
                href="https://www.youtube.com/"
                target="_blank"
                class="icon-link"
              >
                <svg width="24" height="24">
                  <use href="/img/svgsprite.svg#icon-youtube"></use>
                </svg>
                <span class="link-text">YouTube</span>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <p class="copyright">&copy; 2025 Yoga Studio. All rights reserved.</p>
  </div>
</footer>
