<footer class="footer" id="contacts">
  <div class="container">
    <div class="logo-subscribe">
      <a href="/index.html" class="logo-footer"
        ><svg width="84" height="36">
          <use href="/img/icons-new/logo.svg"></use>
        </svg>
      </a>
      <p>
        Subscribe to our newsletter for the latest updates on our yoga courses
        and events.
      </p>
      <form>
        <label class="label-field-footer">
          <input
            class="text-field-footer"
            type="email"
            name="email-footer"
            placeholder="Placeholder"
          />
        </label>
        <button type="submit" class="join-btn">Join</button>
      </form>
      <p>
        By subscribing, you consent to our Privacy Policy and agree to receive
        updates.
      </p>
    </div>
    <div class="quick-links">
      <p>Quick Links</p>
      <ul>
        <li><a href="#hero">Yoga Classes</a></li>
        <li><a href="#team">Team</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#contacts">Contacts</a></li>
      </ul>
    </div>
    <div class="social-connect">
      <p>Connect With Us</p>
      <ul>
        <li>
          <a href="https://www.facebook.com/" target="_blank" class="icon-link">
            <svg width="24" height="24">
              <use href="/img/svgsprite.svg#icon-facebook"></use>
            </svg>
            <span class="link-text">Facebook</span>
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/"
            target="_blank"
            class="icon-link"
          >
            <svg width="24" height="24">
              <use href="/img/svgsprite.svg#icon-instagram"></use>
            </svg>
            <span class="link-text">Instagram</span>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/" target="_blank" class="icon-link">
            <svg width="24" height="24">
              <use href="/img/svgsprite.svg#icon-linkedin"></use>
            </svg>
            <span class="link-text">LinkedIn</span>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/" target="_blank" class="icon-link">
            <svg width="24" height="24">
              <use href="/img/svgsprite.svg#icon-youtube"></use>
            </svg>
            <span class="link-text">YouTube</span>
          </a>
        </li>
      </ul>
    </div>
    <p class="copyright">&copy; 2025 Yoga Studio. All rights reserved.</p>
  </div>
</footer>
