<section id="section-gallery" class="section gallery-section">
    <div class="container gallery-general-container">
        <div class="container gallery-container">
            <h3 class="gallery-title">Breathe in the Space</h3>
            <p class="gallery-text">Step inside YogaBloom and feel the calm. Explore our serene studio and the peaceful moments our community shares during each session.</p>
        </div>
        <div class="container gallery-container-wrapper">
            <ul class="gallery-list">
                <li class="gallery-item">
                    <picture>
                        <source 
                            media="(min-width: 1336px)" 
                            srcset="/img/webp/gallery/gallery1-d.png 1x, /img/webp/gallery/gallery1-d@2x.png 2x">
                        
                        <source 
                            media="(min-width: 768px)" 
                            srcset="/img/webp/gallery/gallery1-t.png 1x, /img/webp/gallery/gallery1-t@2x.png 2x">

                        <img 
                            src="/img/webp/gallery/gallery1-m.png" 
                            srcset="/img/webp/gallery/gallery1-m.png 1x, /img/webp/gallery/gallery1-m@2x.png 2x"
                            alt="YogaBloom Studio" 
                            class="gallery-image"
                            width="155" 
                            height="155"
                            loading="lazy">
                    </picture>
                </li>

                <li class="gallery-item">
                    <picture>
                        <source 
                            media="(min-width: 1336px)" 
                            srcset="/img/webp/gallery/gallery2-d.png 1x, /img/webp/gallery/gallery2-d@2x.png 2x">
                        
                        <source 
                            media="(min-width: 768px)" 
                            srcset="/img/webp/gallery/gallery2-t.png 1x, /img/webp/gallery/gallery2-t@2x.png 2x">

                        <img 
                            src="/img/webp/gallery/gallery2-m.png" 
                            srcset="/img/webp/gallery/gallery2-m.png 1x, /img/webp/gallery/gallery2-m@2x.png 2x"
                            alt="YogaBloom Studio" 
                            class="gallery-image"
                            width="155" 
                            height="155"
                            loading="lazy">
                    </picture>
                </li>

                <li class="gallery-item">
                    <picture>
                        <source 
                            media="(min-width: 1336px)"     
                            srcset="/img/webp/gallery/gallery3-d.png 1x, /img/webp/gallery/gallery3-d@2x.png 2x">
                        
                        <source 
                            media="(min-width: 768px)" 
                            srcset="/img/webp/gallery/gallery3-t.png 1x, /img/webp/gallery/gallery3-t@2x.png 2x">

                        <img 
                            src="/img/webp/gallery/gallery3-m.png" 
                            srcset="/img/webp/gallery/gallery3-m.png 1x, /img/webp/gallery/gallery3-m@2x.png 2x"
                            alt="YogaBloom Studio" 
                            class="gallery-image"
                            width="155" 
                            height="155"
                            loading="lazy">
                    </picture>
                </li>
                    
                <li class="gallery-item">
                    <picture>
                        <source 
                            media="(min-width: 1336px)" 
                            srcset="/img/webp/gallery/gallery4-d.png 1x, /img/webp/gallery/gallery4-d@2x.png 2x">
                        
                        <source 
                            media="(min-width: 768px)" 
                            srcset="/img/webp/gallery/gallery4-t.png 1x, /img/webp/gallery/gallery4-t@2x.png 2x">

                        <img 
                            src="/img/webp/gallery/gallery4-m.png" 
                            srcset="/img/webp/gallery/gallery4-m.png 1x, /img/webp/gallery/gallery4-m@2x.png 2x"
                            alt="YogaBloom Studio" 
                            class="gallery-image"
                            width="155" 
                            height="155"
                            loading="lazy">
                    </picture>
                </li>

                <li class="gallery-item">
                    <picture>
                        <source 
                            media="(min-width: 1336px)" 
                            srcset="/img/webp/gallery/gallery5-d.png 1x, /img/webp/gallery/gallery5-d@2x.png 2x">
                        
                        <source 
                            media="(min-width: 768px)" 
                            srcset="/img/webp/gallery/gallery5-t.png 1x, /img/webp/gallery/gallery5-t@2x.png 2x">

                        <img 
                            src="/img/webp/gallery/gallery5-m.png" 
                            srcset="/img/webp/gallery/gallery5-m.png 1x, /img/webp/gallery/gallery5-m@2x.png 2x"
                            alt="YogaBloom Studio" 
                            class="gallery-image"
                            width="155" 
                            height="155"
                            loading="lazy">
                    </picture>
                </li>

                <li class="gallery-item">
                    <picture>
                        <source 
                            media="(min-width: 1336px)" 
                            srcset="/img/webp/gallery/gallery6-d.png 1x, /img/webp/gallery/gallery6-d@2x.png 2x">
                        
                        <source 
                            media="(min-width: 768px)" 
                            srcset="/img/webp/gallery/gallery6-t.png 1x, /img/webp/gallery/gallery6-t@2x.png 2x">

                        <img 
                            src="/img/webp/gallery/gallery6-m.png" 
                            srcset="/img/webp/gallery/gallery6-m.png 1x, /img/webp/gallery/gallery6-m@2x.png 2x"
                            alt="YogaBloom Studio" 
                            class="gallery-image"
                            width="155" 
                            height="155"
                            loading="lazy">
                    </picture>
                </li>
            </ul>
        </div>
    </div>
</section>