<div class="header-modal-menu" data-modal-header>
  <div class="container header-modal-cont-wrapper">
    <div class="header-modal-nav">
      <button class="header-modal-close" type="button" data-header-close>
        <svg class="header-modal-close-svg" width="24" height="24">
          <use href="img/svgsprite.svg#icon-close"></use>
        </svg>
      </button>
      <a href="../index.html" class="header-logo-link">
        <svg class="site-logo" width="84" height="36">
          <use href="img/svgsprite.svg#icon-logo"></use>
        </svg>
      </a>
      <a href="#pricing" class="join-now-link">Join now</a>
    </div>
    <div class="modal-menu-links-wrapper">
      <ul class="modal-header-nav-list">
        <li class="modal-header-nav-item"><a href="#hero">Yoga Classes</a></li>
        <li class="modal-header-nav-item"><a href="#team">Team</a></li>
        <li class="modal-header-nav-item">
          <a href="#testimonials">Testimonials</a>
        </li>
        <li class="modal-header-nav-item"><a href="#pricing">Pricing</a></li>
        <li class="modal-header-nav-item"><a href="#contacts">Contacts</a></li>
      </ul>
      <a href="#pricing" class="modal-join-now-link">Join now</a>
    </div>
  </div>
</div>
