<div class="header-menu">
  <div class="header-content-wrapper container">
    <div class="header-navigation-box">
      <nav class="header-navigation">
        <ul class="header-nav-list">
          <li class="header-nav-item">
            <a href="#hero" class="active-link">Yoga Classes</a>
          </li>
          <li class="header-nav-item"><a href="#team">Team</a></li>
          <li class="header-nav-item">
            <a href="#testimonials">Testimonials</a>
          </li>
          <li class="header-nav-item"><a href="#pricing">Pricing</a></li>
          <li class="header-nav-item"><a href="#contacts">Contacts</a></li>
        </ul>
        <button class="burger-menu" type="button" data-modal-open>
          <svg class="burger-button-svg" width="24" height="24">
            <use href="img/svgsprite.svg#icon-menu"></use>
          </svg>
        </button>
        <a href="../index.html" class="header-logo-link">
          <svg class="site-logo" width="84" height="36">
            <use href="img/svgsprite.svg#icon-logo"></use></svg
        ></a>
        <a href="#pricing" class="join-now-link">Join now</a>
      </nav>
    </div>
  </div>
</div>
