<div class="header-menu">
  <div class="header-content-wrapper container">
    <div class="header-navigation-box">
      <nav class="header-navigation">
        <ul class="header-nav-list">
          <li class="header-nav-item"><a href="#" class="active-link">Yoga Classes</a></li>
          <li class="header-nav-item"><a href="#">Team</a></li>
          <li class="header-nav-item"><a href="#">Testimonials</a></li>
          <li class="header-nav-item"><a href="#">Pricing</a></li>
          <li class="header-nav-item"><a href="#">Contacts</a></li>
        </ul>
        <button class="burger-menu" type="button">
          <span class="visually-hidden">Burger menu</span>
          <svg class="burger-button-svg" width="24" height="24">
            <use href="../img/svgsprit.svg#icon-menu"></use>
          </svg>
        </button>
        <a href="../index.html" class="header-logo-link"
          ><span class="visually-hidden">Main Page</span
          ><svg class="site-logo" width="84" height="36">
            <use href="../img/svgsprit.svg#icon-logo"></use></svg
        ></a>
        <a href="#" class="join-now-link"
          ><span class="join-now-text">Join Now</span></a
        >
      </nav>
    </div>
  </div>
</div>
