<section class="hero-page">
    <div class="container">
        <h1 class="hero-title">Transform Your Life with Our Yoga Clases</h1>
        <p class="hero-descriptio">Discover the harmony of mind and body through our expertly designed yoga programs. Join a community dedicated to wellness and personal growth.</p>
        <nav class="hero-navigation">
            <ul class="hero-navigation-list">
                <li class="hero-navigation-item">
                    <a class="hero-navigation-link" href="#">Join Now</a>
                </li>
                <li class="hero-navigation-item">
                    <a class="hero-navigation-link" href="#">Learn More</a>
                </li>
            </ul>
        </nav>
    </div>
</section>