
<section id="hero" class="hero-page">
    <div class="container hero-container">
        <div class="hero-picture">
            <picture>
                  <source srcset="/img/webp/hero/placeholder-d.jpg 1x, /img/webp/hero/placeholder-d@2x.jpg 2x" media="(min-width: 1440px)"/>
                  <source srcset="/img/webp/hero/placeholder-t.jpg 1x, /img/webp/hero/placeholder-t@2x.jpg 2x" media="(min-width: 768px)"/>
                  <source srcset="/img/webp/hero/placeholder-m.jpg 1x, /img/webp/hero/placeholder-m@2x.jpg 2x" media="(max-width: 767px)"/>
                  <img class="hero-img" src="/img/webp/hero/placeholder-m.jpg" alt="Yoga Life"/>
            </picture>
        </div>
        <div class="hero-contant">
            <h1 class="hero-title">Transform Your Life with Our Yoga Clases</h1>
            <div class="hero-inform">
                <p class="hero-description">Discover the harmony of mind and body through our expertly designed yoga programs. Join a community dedicated to wellness and personal growth.</p>
                <div class="hero-navigation">
                    <ul class="hero-navigation-list">
                        <li class="hero-navigation-item join">
                            <a class="hero-navigation-link" href="#pricing">Join Now</a>
                        </li>
                        <li class="hero-navigation-item learn">
                            <a class="hero-navigation-link" href="#section-gallery">Learn More</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
