<section class="pricing-section" id="pricing">
  <div class="container">
    <p class="tagline">Affordable</p>
    <div class="title-container">
      <h2 class="section-title">Pricing Plans</h2>
      <p class="section-description">
        Choose the perfect plan for your yoga journey.
      </p>
    </div>
    <ul class="pricing-list">
      <li class="pricing-item">
        <div class="pricing-item-box">
          <div class="pricing-item-info">
            <h3 class="pricing-item-title">One Session</h3>
            <p class="pricing-item-price">$10</p>
            <ul class="pricing-features-list">
              <li class="pricing-feature-item">
                <svg
                  class="check-icon"
                  width="24"
                  height="24"
                  aria-hidden="true"
                >
                  <use href="/img/icons-new/check.svg"></use>
                </svg>
                <span class="pricing-feature-benefits">1 group session</span>
              </li>
              <li class="pricing-feature-item">
                <svg
                  class="check-icon"
                  width="24"
                  height="24"
                  aria-hidden="true"
                >
                  <use href="/img/icons-new/check.svg"></use>
                </svg>
                <span class="pricing-feature-benefits"
                  >10% discount for next 2 Sessions</span
                >
              </li>
              <li class="pricing-feature-item">
                <svg
                  class="check-icon"
                  width="24"
                  height="24"
                  aria-hidden="true"
                >
                  <use href="/img/icons-new/check.svg"></use>
                </svg>
                <span class="pricing-feature-benefits"
                  >Community support group</span
                >
              </li>
            </ul>
          </div>
          <button class="btn-join">Join</button>
        </div>
      </li>
      <li class="pricing-item">
        <div class="pricing-item-box">
          <div class="pricing-item-info">
            <h3 class="pricing-item-title">8 Sessions Package</h3>
            <p class="pricing-item-price">$65</p>
            <ul class="pricing-features-list">
              <li class="pricing-feature-item">
                <svg
                  class="check-icon"
                  width="24"
                  height="24"
                  aria-hidden="true"
                >
                  <use href="/img/icons-new/check.svg"></use>
                </svg>
                <span class="pricing-feature-benefits">6 Group Sessions</span>
              </li>
              <li class="pricing-feature-item">
                <svg
                  class="check-icon"
                  width="24"
                  height="24"
                  aria-hidden="true"
                >
                  <use href="/img/icons-new/check.svg"></use>
                </svg>
                <span class="pricing-feature-benefits"
                  >2 Individual Sessions</span
                >
              </li>
              <li class="pricing-feature-item">
                <svg
                  class="check-icon"
                  width="24"
                  height="24"
                  aria-hidden="true"
                >
                  <use href="/img/svgsprite.svg#icon-check"></use>
                </svg>
                <span class="pricing-feature-benefits"
                  >Priority customer support</span
                >
              </li>
            </ul>
          </div>
          <button class="btn-join">Join</button>
        </div>
      </li>
      <li class="pricing-item">
        <div class="pricing-item-box">
          <div class="pricing-item-info">
            <div class="pricing-item-content">
              <h3 class="pricing-item-title">12 Sessions Package</h3>
              <p class="pricing-item-price">$80</p>
              <button class="btn-join">Join</button>
            </div>
            <ul class="pricing-features-list">
              <li class="pricing-feature-item">
                <svg
                  class="check-icon"
                  width="24"
                  height="24"
                  aria-hidden="true"
                >
                  <use href="/img/icons-new/check.svg"></use>
                </svg>
                <span class="pricing-feature-benefits">8 Group Sessions</span>
              </li>
              <li class="pricing-feature-item">
                <svg
                  class="check-icon"
                  width="24"
                  height="24"
                  aria-hidden="true"
                >
                  <use href="/img/icons-new/check.svg"></use>
                </svg>
                <span class="pricing-feature-benefits"
                  >4 Individual Sessions</span
                >
              </li>
              <li class="pricing-feature-item">
                <svg
                  class="check-icon"
                  width="24"
                  height="24"
                  aria-hidden="true"
                >
                  <use href="/img/icons-new/check.svg"></use>
                </svg>
                <span class="pricing-feature-benefits"
                  >Monthly yoga challenges</span
                >
              </li>
              <li class="pricing-feature-item">
                <svg
                  class="check-icon"
                  width="24"
                  height="24"
                  aria-hidden="true"
                >
                  <use href="/img/icons-new/check.svg"></use>
                </svg>
                <span class="pricing-feature-benefits"
                  >Exclusive member discounts</span
                >
              </li>
              <li class="pricing-feature-item">
                <svg
                  class="check-icon"
                  width="24"
                  height="24"
                  aria-hidden="true"
                >
                  <use href="/img/icons-new/check.svg"></use>
                </svg>
                <span class="pricing-feature-benefits"
                  >Community support group</span
                >
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
