<section class="team-section" id="team">
  <div class="container">
    <p class="team-subtitle">Meet</p>
    <h2 class="team-title">Our Team</h2>
    <p class="team-title-description">
      Dedicated professionals passionate about yoga and wellness.
    </p>
    <ul class="team-list">
      <li class="team-list-item">
        <img
          class="team-member-photo"
          src="./img/team1.png"
          srcset="./img/team1.png 1x, ./img/team1@2x.png 2x"
          alt="smiling man with curly hair"
          width="421"
        />
        <div class="team-image-description">
          <h3 class="team-member-title">Liam Johnson</h3>
          <p class="team-member-role">Yoga Instructor</p>
          <p class="team-member-description">
            Liam specializes in mindfulness and stress reduction techniques
            through guided meditation.
          </p>
          <ul class="icon-social-media-team-list">
            <li>
              <a
                href="https://www.linkedin.com/school/goit-start-your-career-in-it/"
                class="icon-link"
                target="_blank"
              >
                <svg class="icon" width="24" height="24">
                  <use href="./img/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/goitclub/"
                class="icon-link"
                target="_blank"
              >
                <svg class="icon" width="24" height="24">
                  <use href="./img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-list-item">
        <img
          class="team-member-photo"
          src="./img/team2.png"
          srcset="./img/team2.png 1x, ./img/team2@2x.png 2x"
          alt="serious woman with black hair"
          width="421"
        />
        <div class="team-image-description">
          <h3 class="team-member-title">Emma Stone</h3>
          <p class="team-member-role">Meditation Coach</p>
          <p class="team-member-description">
            Emma has over 10 years of experience in Hatha and Vinyasa yoga.
          </p>
          <ul class="icon-social-media-team-list">
            <li>
              <a
                href="https://www.linkedin.com/school/goit-start-your-career-in-it/"
                class="icon-link"
                target="_blank"
              >
                <svg class="icon" width="24" height="24">
                  <use href="./img/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-list-item">
        <img
          class="team-member-photo"
          src="./img/team3.png"
          srcset="./img/team3.png 1x, ./img/team3@2x.png 2x"
          alt="young girl with red hair"
          width="421"
        />
        <div class="team-image-description">
          <h3 class="team-member-title">Sophia Lee</h3>
          <p class="team-member-role">Pilates Trainer</p>
          <p class="team-member-description">
            Sophia combines Pilates with yoga for a holistic fitness approach.
          </p>
          <ul class="icon-social-media-team-list">
            <li>
              <a
                href="https://www.instagram.com/goitclub/"
                class="icon-link"
                target="_blank"
              >
                <svg class="icon" width="24" height="24">
                  <use href="./img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-list-item">
        <img
          class="team-member-photo"
          src="./img/team4.png"
          srcset="./img/team4.png 1x, ./img/team4@2x.png 2x"
          alt="smiling girl with long brown hair"
          width="421"
        />
        <div class="team-image-description">
          <h3 class="team-member-title">Noah Brown</h3>
          <p class="team-member-role">Yoga Therapist</p>
          <p class="team-member-description">
            Noah focuses on therapeutic yoga to aid recovery and enhance
            well-being.
          </p>
          <ul class="icon-social-media-team-list">
            <li>
              <a
                href="https://www.linkedin.com/school/goit-start-your-career-in-it/"
                class="icon-link"
                target="_blank"
              >
                <svg class="icon" width="24" height="24">
                  <use href="./img/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-list-item">
        <img
          class="team-member-photo"
          src="./img/team5.png"
          srcset="./img/team5.png 1x, ./img/team5@2x.png 2x"
          alt="woman with sports equipment"
          width="421"
        />
        <div class="team-image-description">
          <h3 class="team-member-title">Ava Green</h3>
          <p class="team-member-role">Fitness Trainer</p>
          <p class="team-member-description">
            Ava integrates strength training with yoga to promote overall
            fitness.
          </p>
          <ul class="icon-social-media-team-list">
            <li>
              <a
                href="https://www.facebook.com/goITclub/"
                class="icon-link"
                target="_blank"
              >
                <svg class="icon" width="24" height="24">
                  <use href="./img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/goitclub/"
                class="icon-link"
                target="_blank"
              >
                <svg class="icon" width="24" height="24">
                  <use href="./img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/school/goit-start-your-career-in-it/"
                class="icon-link"
                target="_blank"
              >
                <svg class="icon" width="24" height="24">
                  <use href="./img/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-list-item">
        <img
          class="team-member-photo"
          src="./img/team6.png"
          srcset="./img/team6.png 1x, ./img/team6@2x.png 2x"
          alt="man in a gray t-shirt"
          width="421"
        />
        <div class="team-image-description">
          <h3 class="team-member-title">Clark Thomas</h3>
          <p class="team-member-role">Fitness Trainer</p>
          <p class="team-member-description">
            Clark specializes in mindfulness and stress reduction techniques
            through guided meditation.
          </p>
          <ul class="icon-social-media-team-list">
            <li>
              <a
                href="https://www.facebook.com/goITclub/"
                class="icon-link"
                target="_blank"
              >
                <svg class="icon" width="24" height="24">
                  <use href="./img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/goitclub/"
                class="icon-link"
                target="_blank"
              >
                <svg class="icon" width="24" height="24">
                  <use href="./img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
