<section class="section-yoga-classes">
  <div class="container">
    <p class="yoga-cl-text-top">Explore</p>
    <h2 class="yoga-cl-title">Discover Our Most Popular Yoga Programs</h2>
    <p class="yoga-cl-text">
      Join our community and elevate your practice with our expertly designed
      yoga programs. Each course is tailored to meet various skill levels and
      personal goals.
    </p>
    <ul class="yoga-cl-list">
      <li class="yoga-cl-card">
        <img
          class="yoga-cl-img"
          srcset="
            ./img/webp/yoga-classes/yoga1.png    1x,
            ./img/webp/yoga-classes/yoga1@2x.png 2x
          "
          src="./img/webp/yoga-classes/yoga1.png"
          alt="Beginner Yoga"
          width="422"
          height="240"
        />
        <h3 class="yoga-cl-card-title">
          Beginner Yoga: Foundations<span class="accient"
            >for New Practitioners</span
          >
        </h3>
        <p class="card-text">
          Learn the basics of yoga in a supportive environment.
        </p>
      </li>
      <li class="yoga-cl-card">
        <img
          class="yoga-cl-img"
          srcset="
            ./img/webp/yoga-classes/yoga2.png    1x,
            ./img/webp/yoga-classes/yoga2@2x.png 2x
          "
          src="./img/webp/yoga-classes/yoga2.png"
          alt="Girl in a lotus pose"
          width="422"
          height="240"
        />
        <h3 class="yoga-cl-card-title">
          Vinyasa Flow: Energize Your Body and Mind
        </h3>
        <p class="card-text">
          Experience a dynamic sequence that connects breath and movement.
        </p>
      </li>
      <li class="yoga-cl-card">
        <img
          class="yoga-cl-img"
          srcset="
            ./img/webp/yoga-classes/yoga3.png    1x,
            ./img/webp/yoga-classes/yoga3@2x.png 2x
          "
          src="./img/webp/yoga-classes/yoga3.png"
          alt="Meditation"
          width="704"
          height="282"
        />
        <h3 class="yoga-cl-card-title">
          Restorative Yoga: Deep Relaxation and Healing
        </h3>
        <p class="card-text">
          Unwind and rejuvenate with gentle poses and mindfulness.
        </p>
      </li>
    </ul>
    <a class="yoga-cl-btn" href="#pricing">Join now</a>
  </div>
</section>
