/* About us */
.about-us-section {
  padding-top: 64px;
  padding-bottom: 64px;

  background: #dfebeb;
}

.about-us-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.benefits-item {
  /*width: calc((100% - 72px) / 4);*/
  width: 100%;
  /* padding-top: 48px; */
}

.second-title {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 40px;

  /* line-height: 48px; */
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #0d0b0a;
}
.third-title {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 24px;
  /* margin-top: 48px; */
  /* line-height: 34px; */
  line-height: 1.42;
  letter-spacing: 0.01em;
  text-align: center;
  color: #0d0b0a;
  white-space: nowrap;
}

.profession-benefits {
  font-family: 'Sarabun', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 48px;
  /* line-height: 26px; */
  line-height: 1.6;
  text-align: center;
  color: #0d0b0a;
}

.button-about-us {
  border: 1px solid #c2d9fc;
  border-radius: 100px;
  padding: 10px 24px;
  font-weight: 500;
  max-width: 343px;
  height: 46px;
  background: #c2d9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 48px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-about-us:hover,
.button-about-us:focus {
  opacity: 0.5;
}

.button-about-us:active {
  opacity: 1;
  background-color: transparent;
}

.button-about-us:disabled {
  opacity: 0.2;
}

@media screen and (min-width: 768px) {
  .about-us-section {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #f2fafa;
  }
  .about-us-list {
    gap: 46px 24px;
    display: flex;
    flex-wrap: wrap;
    /* gap: 72px 24px; */
  }
  /* .benefits-list {
  } */

  /* .profession-benefits {
    font-size: 18px;
    line-height: 1.6;
  } */

  .benefits-item {
    width: 100%;
    gap: 22px;
    width: calc((100% - 24px) / 2);
  }

  .button-about-us {
    width: 110px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    /* line-height: 26px; */
    line-height: 1.6;
    margin: 40px auto 0 auto;
    white-space: nowrap;
  }

  .button-about-us:hover,
  .button-about-us:focus {
    opacity: 0.5;
  }
}

@media screen and (min-width: 1336px) {
  .about-us-container {
    /* padding-left: 64px;
    padding-right: 64px; */
    max-width: 100%; /* чтобы контейнер занимал всю ширину */
  }

  .about-us-section {
    padding: 0 auto 120px;
  }

  .about-us-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: flex-start;
  }

  /* .benefits-item {
    width: calc((100% - 72px) / 4);
    margin-bottom: 0;
  } */
  .benefits-item {
    flex: 0 1 calc((100% - 72px) / 4);
    max-width: none;
    min-width: 0;
    margin-top: 24px;
    padding: 0;
    box-sizing: border-box;
  }

  .profession-benefits {
    margin-top: 24px;
  }

  .third-title {
    font-size: 28px;
    /* line-height: 39px; */
    line-height: 1.4;
    white-space: normal;
  }

  .second-title {
    font-size: 52px;
    /* line-height: 62px; */
    line-height: 1.2;
  }
}
