:root {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #0d0b0a;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Roboto', 'Sarabun', 'Cabin', sans-serif;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  margin: 0;
}

main {
  flex-grow: 1;
}
