.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* Desktop */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1336git px;
    padding-left: 64px;
    padding-right: 64px;
  }
}
