.hero-container {
    padding: 0;
    background-color: #F2FAFA;
    max-width: 375px;
}
.hero-contant {
    padding: 48px 16px;
    display: flex;
    flex-direction: column;
}
.hero-title {
    font-weight: 400;
    font-size: 44px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: #0D0B0A;
    margin-bottom: 20px;
}
.hero-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #0D0B0A;
    margin-bottom: 24px;
}
.hero-navigation-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.hero-navigation-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 100px;
    padding: 10px auto;
    width: 100%;
    height: 46px;
    background-color: rgba(13, 11, 10, 0.05);
}
.join {
    background-color: #C2D9FC;
}
.learn {
    background-color: rgba(13, 11, 10, 0.05)
}
.join:hover,
.join:focus {
    background-color: rgba(194, 217, 252);
    opacity: 0.5;
}
.learn:hover,
.learn:focus {
    background-color: rgba(13, 11, 10, 0.05);
    opacity: 0.5;
}