.team-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-top: 64px;
  margin-bottom: 12px;
}

.team-title {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 20px;
}

.team-title-description {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 48px;
}

.team-member-photo {
  width: 100%;
  height: 221px;
  border-radius: 16px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 20px;
}

.team-list-item:nth-child(2) .team-member-photo {
  object-position: center top;
}

.team-list-item:nth-child(5) .team-member-photo {
  object-position: center top;
}

.team-list {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  margin-bottom: 64px;
}

.team-member-title {
  font-weight: 600;
  font-size: 18px;
}

.team-member-description {
  margin-top: 12px;
  margin-bottom: 20px;
}

.icon-social-media-team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

@media screen and (min-width: 768px) {
  .team-subtitle {
    margin-top: 40px;
    margin-bottom: 16px;
  }

  .team-title {
    font-size: 52px;
    margin-bottom: 24px;
  }

  .team-title-description {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .team-member-photo {
    height: 395px;
    margin-bottom: 24px;
  }

  .team-member-title {
    font-size: 22px;
  }

  .team-member-description {
    margin-top: 16px;
    margin-bottom: 24px;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 24px;
    margin-bottom: 0;
  }

  .team-list-item {
    width: calc((100% - 24px) / 2);
    height: 630px;
  }
}

@media screen and (min-width: 1336px) {
  .team-subtitle {
    margin-top: 112px;
  }

  .team-member-photo {
    width: 421px;
    height: 398px;
  }

  .team-list {
    row-gap: 67px;
    margin-bottom: 112px;
  }

  .team-list-item {
    width: calc((100% - 48px) / 3);
  }
}
